* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
  font-family: poppins;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#Main_Container {
  padding: 20px;
  padding: 20px;
  padding: 10px;
  margin-top: 20px;
  width: 100vw;
  border-radius: 10px;
  box-shadow: 0px 0px 10px red;
}

#Main_Container:hover {
  box-shadow: 0px 0px 10px white;
}

#college-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Main-Heading {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Head-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#student-pic {
  padding: 5px;
  box-shadow: 0px 0px 10px red;
  margin-right: 10px;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

#register-heading {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px red;
  text-shadow: 0px 0px 10px white;
  height: 35px;
  width: 200px;
}

.div-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px white;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  
}

.div-tag:hover{
  
  box-shadow: 0px 0px 10px red;
}

#Head-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#Submit-btn {
  width: 180px;
  height: 30px;
  border-radius: 10px;
  color:red;
  font-size: 16px;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}
#Submit-btn {
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

#Submit-btn:hover {
  box-shadow: 0px 0px 10px green;
  transform: scale(1.02);
}

.input-box {
  width: 200px;
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: black;
  border-radius: 5px;
}

label {
  margin-left: 5px;
  margin-right: 5px;
}

input:focus {
  box-shadow: 0px 0px 10px red;
}
input{
    outline: none;
}

.main-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#Permament-Address{

    margin-top: 20px;
}

#Present-Address{

    margin-top: 20px;
}
#Nationality-section{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    
}

#Declaration-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#declaration{
    width: 150px;
    height: 30px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px red;
    display: flex;
    color: red;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

#heading{
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 2px red;
    /* align-self: flex-start; */
    
}

#logo{
  width: 100px;
  background-image:url("Lovely_Professional_University_logo.png");
  
  background-repeat: no-repeat;
  background-size: contain;
}

#mar{
  color: red;
  font-weight: 700;

}

#student-pic{
  background-image:url(userlogo.jpg) ;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

#religion-options{
  width: 200px;
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: black;
  border-radius: 5px;
}

#Address-Section{
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
display: flex;
}

#Present-Address{
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
   
}

#Permament-Address{
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
}

#Address-heading{
  text-align: center;
  border-radius: 7px;
  width: 200px;
 box-shadow: 0px 0px 10px red; 
}

#blood-group-options{
  width: 200px;
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: black;
  border-radius: 5px;
}

#nationality-options{
  width: 200px;
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: black;
  border-radius: 5px;
}

#state-options{
  width: 200px;
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: black;
  border-radius: 5px;
}
#father-occupation-options{
  width: 200px;
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: black;
  border-radius: 5px;
}

#status-options{
  width: 200px;
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: black;
  border-radius: 5px;
}

#gender-options{
  width: 200px;
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: black;
  border-radius: 5px;
}